.contacts {
  display: flex;
  list-style-type: none;

  &__mail-tel {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 31px;
    color: #757575;
    text-decoration: none;
  }
  &__mail-tel:hover,
  &__mail-tel:focus {
    color: #2196f3;
  }
}
.contacts__icon {
  margin-right: 10px;
  box-sizing: inherit;
  fill: #757575;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}
