.portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  margin-top: 94px;
  list-style-type: none;

  &__list-button {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    background-color: #f5f4fa;
    text-align: center;
    border-radius: 4px;
    background: #f5f4fa;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-left: 8px;
  }
  &__list-button:hover,
  &__list-button:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: #ffffff;
  }
}
.port {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  width: 100%;
  align-self: center;
  justify-content: space-around;
  gap: 30;
  list-style-type: none;

  &__card {
    margin-top: 30px;
    margin-right: 30px;
  }
  &__card-image {
    width: 370px;
    height: auto;
  }
}
.port__card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.port__card-transition {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  transform: translateY(100%);
  height: 100%;
  width: 100%;

  &__text {
    overflow: hidden;
    position: absolute;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 63px 24px;
    text-align: justify;
  }
}

.port__image {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;

  &-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }

  &-text {
    font-family: "Roboto";
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
  }
}
